body{
  font-family: Arial, sans-seif;
  padding: 0;
  margin: 0;

  & *{
    box-sizing: border-box;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    outline: none;
  }

  &:focus {
    text-decoration: none;
    outline: none;
  }
}

ul {
  list-style-type: none;
}

img{
  max-width: 100%;
  height: auto;
}
