@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin absolute-centering {
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}
.preloader-layout {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #111;

  #loader {
    top: 0%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 1;

    .cloud {
      z-index: 3;

      .cloud-base {
        @include absolute-centering;
        width: 50%;
        height: 10%;
        background: #eee;
        position: absolute;
        border-radius: 20px;
        z-index: 3;


        .cloud-small-part {
          position: absolute;
          width: 40%;
          height: 200%;
          background: #eee;
          top: -100%;
          left: 10%;
          border-radius: 50%;
          z-index: 3;
        }
        .cloud-big-part {
          position: absolute;
          width: 50%;
          height: 250%;
          background: #eee;
          top: -150%;
          left: 40%;
          border-radius: 50%;
          z-index: 3;
        }
      }
    }
  }
}
@for $i from 1 through 6 {
  .sun-beams#{$i} {
    animation: 1s infinite alternate sun-animation;
    width: 5px;
    height: 20px;
    background-color: orange;
    position: absolute;
    top: 35%;
    left: 35%;
    padding: 30px;
    transform: rotate(360deg / 12 * $i)
  }
}

@for $i from 1 through 2 {
  .teardrop#{$i} {
    animation: 1s infinite rain#{$i} ;
    @include absolute-centering;
    display: inline;
    position: absolute;
    top: 45% + $i * 5%;
    width: 10%;
    left: 50% * 0.7 + $i * 10%;
  }
}

@keyframes sun-animation {
  from {
    top: 35%;
    left: 35%;
  }
  to {
    top: 25%;
    left: 25%;
  }
}

@for $i from 1 through 2 {
  @keyframes rain#{$i} {
    0% {
      top: 45% + $i * 5%;
      opacity: 1
    }
    80% {
      opacity: 0.8;
    }
    100% {
      top: 55% + $i * 5%;
      opacity: 0
    }
  }
}


