$color: (
    date: #A8A8A8,
    temprature: #ffffff,
    header: #ffffff,
    border: #F8F8F8,
    btnBorder: #EBF4FA
);

$colorBg: (
    headerBG: #3E3E3E,
    unactiveBG: #FCFCFC,
    activeBG: #1785C6,
    button: #EA1F15
);

